/* ACA VAMOS A TOCAR TODO EL CSS DEL CART */

/* DIV DE PRODUCTOS */

div.forelsecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  width: 80%;
  margin: 0 auto;
}

div.cartProductsContainer{
  margin: 0px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: rgb(228, 251, 251);
  border-radius: 2em;
  width: 80%;
  margin-bottom: 1%;
}

h2{
  align-self: flex-start;
  margin-left: 8%;
}

h5.prodTittle{
  width: 20%;
  margin: 0px;
}

div.cartimgprodcont{
  width: 10%;
}

img.cartprodimg{
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

form.cantasegurar{
  margin: 0px;
}

div.contadorCant{
width: 5%;
margin: 0px;
}

div.priceShower{
  margin-left: 2%;
}

p.productPrice{
  margin: 0px;
  font-family: sans-serif;
}

div.asegurarButton{
width: 5%;
margin: 0px;
}

form.deleteButton{
  margin: 0px;
}

div.deleteProdButton{
width: 5%;
margin: 0px;
margin-right: 2.5%;
}

button.btn.btn-light.buttonDelete:hover{
  color: white;
  background-color: red;
}

a.btn.btn-primary.coprarButton{
  align-self: flex-start;
  margin-left: 8%;
}
