/* GENERALES */

*{
 box-sizing: border-box;
}

ul, ol{
 padding: none;
}

li{
 list-style-type: none;
}

a{
 text-decoration: none;
 color: none;
}


/* BODY */
body{
  background-color: #FFFFFF;
}

/* HABRIA QUE PONERLE ALGUN FONDO COPADO NO? */

/* NAV BAR 1 */

.navbutton{
  color: #393D40;
}

nav.la-de-arriba{
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-around;
}

/* NAV BAR 2 */

nav#la-segunda{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

/* NAV BAR DESKTOP */

nav#navbar-desktop{
  display: none;
}

input.enterSearch{
  display: none;
}

/* CAROUSEL DE IMAGENES */

img#img-carousel{
  height: 5em;
}

/* CAROUSEL/CUADRO DE CATEGORIAS */

div.categorias-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em 0em;
  background-color: #FFFFFF;
}

div.categoria{
  margin: 0 auto;
  align-items: center;
}

img.img-categoria{
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

img.img-categoria-vegan{
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

img.img-categoria-vegetariano{
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

img.img-categoria-organico{
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

/* PRODUCTOS */

div.container-productos{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

div.producto{
  display: flex;
  width: 40%;
  margin: 1em auto;
  flex-direction: column;
}

div.img-producto-container{
  display: flex;
  width: 100%;
}

img.imgproducto{
  width: 100%;
  /* height: 100%; */
}

i#productCart{
  color: #FFFFFF;
}


div.productcategory{
  display: flex;
  flex-wrap: wrap;
}

div.producto{
  padding: 1em;
}
/* BUSQUEDA IZQUIERDA */

div.busqueda{
  display: none;
}

/* FOOTER */

footer{
  border-top: 1px solid lightgrey;
  background-color: #FFFFFF;
}

.footerlinks{
  text-decoration: none;
  color: #393D40;
}

.login1{
  padding: 3vw;
}

.iconoiceberg{
  width: 60px;
  height: 60px;
  margin: 0.5rem;
}

.checkbox{
  position: static;
  display: inline-block;
}

/* QUERIES */

.contenedor-iconosbajocarousel{
display:none;

}

.contenedor-iconosbajocarousel-cadaicono{
text-align:center;
padding:1em;
width:33%
}

.svgiceberg{
width:30%;
height:1em
}

.productshowcontainer{
  margin-left: auto;
   margin-right: auto;
 }

.productshowimagen{
  width:80%;
  height: 80%;
}

.carousel2{
  height: 50em;
}

/* RESOLUCION DE PANTALLA DESKTOP = 992px */

@media(min-width: 992px){

/* NAV BAR 1 */

nav.la-de-arriba{
  display: none;
}

/* NAV BAR 2 */

nav#la-segunda{
  display: none;
}

button.navbar-toggler{
  display: none;
}

li#categoria-menu{
  display: none;
}

/* NAV BAR DESKTOP */

nav#navbar-desktop{
  display: flex;
}

div.collapse.navbar-collapse#navbarSupportedContent{
  justify-content: flex-end;
}

form.form-inline.md-form.form-sm.mt-0{
  display: none;
}

div.dropdown-menu.busqueda-navibar-desktop{
  left: 750px;
}

div.dropdown-menu.user-desktop{
  left: -106px;
}

a.nav-link.cateoria-navibar{
  color: #636363;
}

#logoutbutton{
  padding: 0;
}

/* CAROUSEL DE IMAGENES */

img#img-carousel{
  width: 16em;
  height: 21em;
}


/* CAROUSEL/CUADRO DE CATEGORIAS */

div.categorias-container{
  display: none;
}

.contenedor-iconosbajocarousel{
padding:0,5em;
display:flex;
width:100%;
height:10em
}

.contenedor-iconosbajocarousel-cadaicono{
text-align:center;
padding:1em;
width:33%
}

.svgiceberg{
width:30%;
height:1em
}
/* CONTAINER DE PRODUCTOS Y FLITROS */

div.container-productos-busqueda{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 1.5em;
}

/* FILTROS */

div.busqueda{
  margin: 0 auto;
  margin-left: 2em;
  width: 17%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
}

h4.filterTittle{
  margin-top: 1em;
}

div.dietFilter{
  display: flex;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

div.attributeFilter{
  display: flex;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

p.dietCheck{
  margin: 0;
  margin-left: 0.3em;
}

p.attributeCheck{
  margin: 0;
  margin-left: 0.3em;
}

input.checkboxDiet{
  align-self: center;
}

input.checkboxAttribute{
  align-self: center;
}

/* PRODUCTOS */

div.modal-body.welcome{
  display: flex;
}

div.img-producto-container-welcome{
  display: flex;
  height: 2em;
  width: 25em;
  height: 20em;
}

div.descriptionModal{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

p.proddescmodal{
  width: 100%;
  height: 50%;
}

p.prodpricemodal{
  /* align-self: flex-end; */
}

a#addtocartmodal{
  /* align-self: flex-end; */
}

p.prodpricemodal{
  /* font-size: 1.5em; */
  align-items: flex-end;
  margin-right: 1em;
}

div.priceaddtocart{
  align-self: flex-end;
  display: flex;
}

div.container-productos{
  width: 75%;
  margin: 0 auto;
}

div.producto{
  width: 30%;
  margin: 1em auto;
  background-color: #FFFFFF;
  border-radius: 1em;
}

div.producto{
  padding: none;
  margin: none;
}


img.imgproducto{
  width: 100%;
  /* height: 100%; */
}

footer{
  border-top: 1px solid lightgrey;
  margin-top: 2em;
}

.productshowcontainer{
  display:flex;
}

.containercantpago{
  display:flex;
}

.opcion1{
  width: 50%
}

.opcion2{
  width: 50%
}

}


@media(min-width: 1080px){

  a.nav-link.dropdown-toggle.busqueda{
    display: none;
  }

  form.form-inline.md-form.form-sm.mt-0{
    display: flex;
  }

}
