*{
  box-sizing: border-box;
}

ul, ol{
 padding: none;
}

li{
 list-style-type: none;
}

a{
 text-decoration: none;
 color: none;
}
.login1{
  padding-left: 3vw;
  padding-right: 3vw;
}

.iconoiceberg{
  width: 60px;
  height: 60px;
  margin: 0.5rem;
}

.iconoicebergsmall{
  width: 60px;
  height: 60px;
}

.checkbox{
  position: static;
  display: inline-block;
}

div#loginauth{
  margin-top: 2em;
}

div#registerauth{
  margin-top: 2em;
}
